.main-container{
    height: 100%;
    text-align: center;
    position: relative;
    background-color: black;
    color: aqua;
}

.player-list-heading{
    font-size: 30px;
}

.player-list{
    position: relative;
    top:8%
}

.list-item{
    list-style-type: none;
}

.game-status{
    position: relative;
    top: 5%
}

.game-status-text{
    padding-top: 2%;
    position: relative;
    font-size: 25px;
}