<div class="main-container">

    <div class="text-container">
    <div>
        <h2 class="started-text">Your game hast started successfully head over to your game and join your friends</h2>
    </div>
    <div>
        <h2 class="started-text"> Game Id {{gameId}}</h2>
    </div>
    <div>
        <h2 class="started-text"> Max Players {{maxPlayers}}</h2>
    </div>
</div>
    <button class="to-game-btn" mat-raised-button color="accent" > Go to Your Game</button>
    <button (click)="closeModal()" class="close-modal-btn" mat-raised-button color="accent">Close</button>
</div>
