<div class=main-container>
<div class="burger">
<button mat-raised-button color="accent" [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
<button (click)="router.navigate(['/casinohome'])"mat-menu-item> Home</button>
  <button (click)="router.navigate(['/startgame'])" mat-menu-item >Start A Game</button>
  <button (click)="claimAllocation()"mat-menu-item> Claim Tokens</button>
</mat-menu>
</div>
<div class="connect-wallet">
    <button mat-raised-button color="accent"  (click)="connectWallet()"  > Connect Wallet</button>
</div>
</div>
