.main-container{
    background-color: aqua;
    height: 50px;
    padding-bottom: 1%;
}
.start-game{
    padding-top: 13px;
    text-align: center;
    width: 10%;
    position: absolute;
    right: 0px;
}
.get-tokens{
    padding-top: 13px;
    text-align: center;
    position: absolute;
    width: 15%;
    right: 42%
}
.connect-wallet{
    padding-top: 13px;
    text-align: center;
    position: absolute;
    width: 10%;
    left:0px
}