<div class="main-container">
<h1 class="main-heading">Welcome to Clams Casino a simple lottery type game you can play with friends.</h1>

<div class="instruction-container">
<h2>How to Play</h2>

<h3>1. Claim some clam token using the button above, each player will be limited to 200 tokens, if you would like more head over to uniswap and purchase some more.</h3>
<h3>2. Click on the Start Game Button in the top right, you will need to enter a maximum amount of players and your desired entry fee in clam token, once the start game transaction is successful you will be provided with a game ID and notification indicating the game has been started</h3>
<h3>3. Give your unique game ID to all players who will be joining your game, each player will then need to head to the join game page, enter the game ID and pay the entry fee in clam token to join the game </h3>
<h3>4. Once the maximum amount of players has joined a winner will automatically be chosen, upon the winner being chosen a notification will pop up for all players stating who the winner is followed by the full pot of tokens being automatically transferred to the winner's wallet</h3>
</div>
</div>
