.main-container{
background-color: black;
text-align: center;
height: 100%;
}
.main-heading{
padding-top: 5%;
color: aqua;
font-weight: 900;
}
h3{
    color: aqua;
    font-size: large;
    padding-top: 3%;
    
    text-align: center;
}
h2{
    color: aqua;
    padding-top: 3%;
}
.instruction-container{
    text-align: center;
    width: 70%;
    padding-left: 15%;
}